body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container {
    padding: 10px;
    margin-top: 60px;
}

.color-box {
    width: 20%;
    height: 150px;
    float: left;s
    margin: 5px;
    text-align: center;
    line-height: 100px;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.color-box:hover {
    opacity: 0.8;
}
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    text-shadow: #008cff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;s
  }

.color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.color-box:hover::before {
    opacity: 1;
}

.color-box .hex-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border:none;
    border-radius:5px;
}

.color-box:hover .hex-code {
    opacity: 1;
}

.color-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.color-box.sunflower {
    background-color: #FFD700;
}

.color-box.energos {
    background-color: #9ACD32;
}

.color-box.blue-martina {
    background-color: #00FFFF;
}

.color-box.lavender-rose {
    background-color: #FFF0F5;
}

.color-box.bara-red {
    background-color: #FF6347;
}

.color-box.radiant-yellow {
    background-color: #FFC125;
}

.color-box.android-green {
    background-color: #3CB371;
}

.color-box.mediterranean-sea {
    background-color: #4682B4;
}

.color-box.lavender-tea {
    background-color: #E6E6FA;
}

.color-box.very-berry {
    background-color: #DC143C;
}

.color-box.puffins-bill {
    background-color: #FFA500;
}

.color-box.pixelated-grass {
    background-color: #008000;
}

.color-box.merchant-marine-blue {
    background-color: #00BFFF;
}

.color-box.forgotten-purple {
    background-color: #800080;
}

.color-box.hollyhock {
    background-color: #8B008B;
}

.color-box.red-pigment {
    background-color: #FF0000;
}

.color-box.turkish-aqua {
    background-color: #00FFFF;
}

.color-box.leagues-under-the-sea {
    background-color: #000080;
}

.color-box.circumorbital-ring {
    background-color: #8080C0;
}

.color-box.magenta-purple {
    background-color: #FF00FF;
}
@media only screen and (max-width: 768px) {
    .color-box {
        width: 100%;
        float: none;
        margin: 10px 0;
    }